body {
  font-family: system-ui;
}

.flex {
  display: flex;
  justify-content: center;
}

.box {
  margin-top: 20px;
}

.input-group {
  margin-top: 20px;
}

.space-between-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#filter {
  width: 120px;
}

.dropdown-menu {
  cursor: pointer;
}

#add-btn {
  width: 70px;
}

.card-container {
  margin-top: 50px;
}

.card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-flex:not(:first-child) {
  margin-top: 20px;
}

.fa-trash-o {
  margin-left: 20px;
  font-size: 26px;
  color: red;
  cursor: pointer;
}

.fa-trash-o:hover {
  opacity: 0.5;
  transition: 0.7s;
}

#card {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
}

#card:hover {
  opacity: 0.5;
  transition: 1s;
}

.wrapper {
  width:200px;
  padding:20px;
  height: 150px;
}

#color {
  max-height: 150px;
  overflow-y: auto;
}

#modal-btn {
  width: 80px;
}

.btn-close {
  display: none;
}

.error {
  color: red;
}

#filter {
  cursor: pointer;
}

#deadline {
  margin-top: 12px;
  cursor: pointer;
}

#deadline-text {
  margin-top: 6px;
}

#date {
  margin-left: 300px;
}

#date {
  margin-left: 120px;
}

.card-label-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0 20px;
}
